<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="serviceABehaviour" name="BusinessServices.ServiceA">
        <endpoint address="Admin" binding="netTcpBinding" contract="BusinessServiceContracts.IAdmin" />
        <endpoint address="ServiceA" binding="basicHttpBinding" contract="BusinessServiceContracts.IServiceA" />
        <endpoint address="ServiceA" binding="netTcpBinding" contract="BusinessServiceContracts.IServiceA" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000" />
            <add baseAddress="net.tcp://localhost:9000" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="serviceABehaviour" name="BusinessServices.ServiceB">
        <endpoint address="Admin" binding="netNamedPipeBinding" contract="BusinessServiceContracts.IAdmin" />
        <endpoint address="ServiceB" binding="basicHttpBinding" contract="BusinessServiceContracts.IServiceB" />
        <endpoint address="ServiceB" binding="netNamedPipeBinding" contract="BusinessServiceContracts.IServiceB" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001" />
            <add baseAddress="net.pipe://localhost" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceABehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>