<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:9000/Admin" binding="netTcpBinding" contract="BusinessServiceContracts.IAdmin" name="TCP_IAdmin" />
      <endpoint address="net.tcp://localhost:9000/ServiceA" binding="netTcpBinding" contract="BusinessServiceContracts.IServiceA" />
      <endpoint address="net.pipe://localhost/ServiceB" binding="netNamedPipeBinding" contract="BusinessServiceContracts.IServiceB" />
      <endpoint address="net.pipe://localhost/Admin" binding="netNamedPipeBinding" contract="BusinessServiceContracts.IAdmin" name="IPC_IAdmin" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>